body{background-image: url(https://static.vecteezy.com/ti/photos-gratuite/t1/24623364-des-nuages-remplir-bleu-ciel-symbole-de-l-amour-generatif-ai-gratuit-photo.jpg);
background-size: cover;
height:auto;
position: center;}
 
h1{color: rgb(105, 116, 153);}

